<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CC173FAboutMe"
        tools:targetApi="31">
        <activity
            android:name=".AboutRenzoActivity"
            android:exported="false" />
        <activity
            android:name=".AboutArnoldActivity"
            android:exported="false" />
        <activity
            android:name=".AboutShaneActivity"
            android:exported="false" />
        <activity
            android:name=".AboutJeddaActivity"
            android:exported="false" />
        <activity
            android:name=".AboutOrpillaActivity"
            android:exported="false" />
        <activity
            android:name=".AboutPhilipActivity"
            android:exported="false" />
        <activity
            android:name=".AboutAcederaActivity"
            android:exported="false" />
        <activity
            android:name=".AboutIversonActivity"
            android:exported="false" />
        <activity
            android:name=".AboutJaneDoeActivity"
            android:exported="false" />
        <activity
            android:name=".AboutJerryActivity"
            android:exported="false" />
        <activity
            android:name=".AboutPaoActivity"
            android:exported="false" />
        <activity
            android:name=".AboutRykielActivity"
            android:exported="false" />
        <activity
            android:name=".AboutLuckyActivity"
            android:exported="false" />
        <activity
            android:name=".AboutRovicActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>